:root {
  --gold: #d8af25;
  --bg-dark: #070707;
  --card-bg: #111111;
  --text-main: #ffffff;
  --text-dim: #888888;
  --border: rgba(255, 255, 255, 0.08);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Website text selection disable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Mobile long press selection disable */
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-dark);
  color: var(--text-main);
  font-family: var(--font-plus-jakarta), sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

section,
footer {
  scroll-margin-top: 100px;
}

#noise-overlay {
  position: fixed;
  inset: 0;
  background: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.035;
  pointer-events: none;
  z-index: 9999;
}

/* Disable image dragging */
img,
svg {
  -webkit-user-drag: none;
  user-drag: none;
}

/* Form fields should still work properly */
input,
textarea,
select {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;

  -webkit-touch-callout: default;
}

/* Buttons and links should not be selectable */
button,
a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide native cursor only on desktop */
@media (min-width: 769px) {
  html,
  body,
  body * {
    cursor: none !important;
  }
}